/* General Styling */

body {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-family: Roboto;
  font-size: 1.3em;
  margin: 0.82rem 0 0.656rem 0;
}

p {
  font-family: Roboto;
}

.thin {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-bottom: 3vw;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.section-heading {
  font-family: Roboto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.5;
  font-weight: 300;
  font-size: 28px;
  max-width: 18em;
}

.section-content {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 300;
  font-size: 22px;
  max-width: 18em;
  color: grey;
}

.row {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
}

.hide {
  display: none;
}

/* Header Section */
.header-section{
  text-align: left;
  max-width: 550px;
}

.header-block {
  margin-top: 40px !important;
  margin-bottom: 60px;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Features Section */

.features-section{
  text-align: center;
  padding-right: 1vw;
  padding-left: 1vw;
}

.features-section .fa {
  font-size: 5vw;
  height: 5vw;
}

.features-section p {
  color: grey;
  padding-left: 1vw;
  padding-right: 1vw;
}

.features {
  flex-grow: 1;
  width: 33%
}

/* Feature Detail Section */

.feature-detail-section{
  padding-right: 3vw;
  padding-left: 3vw;
}

.fds-col {
  display: block !important;
}

.fds-img {
  max-width: 30em !important;
}

/* Call to action */

.buttons {
  display: inline-flex;
}
.big-button {
  text-align: left;
  font-size: 14px;
  line-height: 35px;
  padding: 0 25px;
  width: 190px;
  margin: 5px 5px;
}

.vendor-icon {
  line-height: 20px;
}


/* Footer Section */

.action-btn {
  width: 250px;
}

/* Media Queries */
@media screen and (max-width: 960px){
  .header-block {
    display: block !important;
  }

  .header-buttons {
    display: flex;
    justify-content: center;
  }

  .header-section {
    text-align: center;
  }
}

@media screen and (max-width: 772px){

  .header-buttons {
    display: block;
    text-align: center;
  }
  .buttons {
    display: block;
  }
}

@media screen and (max-width: 620px){
  .fds-img {
    display:none;
  }

  .features-section .row {
    display: block !important;
  }

  .features {
    width: 100%;
  }

  .features:nth-of-type(2) {
    border-left: 0px;
    border-right: 0px;
  }

}
